{% extends 'base.html' %}

{% block title %}
Png Convetor
{% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
{{success}}
<div class="Neon Neon-theme-dragdropbox" style="margin-top: 15%;">
    <input name="image" style="z-index: 999; opacity: 0; width: 320px; height: 200px; position: absolute; right: 0px; left: 0px; margin-right: auto; margin-left: auto;"  id="filer_input2" multiple="multiple" type="file" accept="image/*"  >
    <div class="Neon-input-dragDrop"><div class="Neon-input-inner"><div class="Neon-input-icon"><i class="fa fa-file-image-o"></i></div><div class="Neon-input-text"><h3>Drag&amp;Drop files here</h3> <span style="display:inline-block; margin: 15px 0">or</span></div><a class="Neon-input-choose-btn blue">Browse Files</a></div></div>
</div>
</form>

{{image_file.url}}

{% endblock %}